<div class="list-group">
   <h2>Shoes: </h2>
   <ul class="list-group" id="shoe">
   {{#each shoes}}
     <li class="list-group-item list-group-item-dark">
       <h4>{{this.model}}</h4>
       Brand: {{this.brand}} Color: <em> {{this.color}}</em>
     </li>
   {{/each}}
   </ul>
</div>
