<div class="list-group">
   <h2>Shoes: </h2>
   <ul class="list-group">
   {{#each shoe as |shoe|}}
     <li class="list-group-item list-group-item-dark">
       {{shoe.model}} - By: {{shoe.brand}} color: <em> {{shoe.color}}</em>
     </li>
   {{/each}}
   </ul>
</div>
{{!-- DONT USE THIS OLD ONE LOL --}}