@import '~bootstrap/scss/bootstrap';
html {
    // background-color: black;
    // background-size: 1366px 768px;
    // no-repeat center center fixed
    color: white;
}

head {
    // background-color: black;
    color: white;
}
body {
    // background-color: black;
    color: white;
    background: url('/public/bw.jpg');
    background-size: cover;
    background-attachment: scroll;
}

h2 {
    padding-bottom: 50px;
}
p {
    color: #000;
}

.jumbotron {
    background-color: #c6c8ca;
    opacity: 0.8;
}

.reset {
    display: none;
}

#settingsPage {
    display: none;
}

.page-header {
    text-align: center;
    margin: 10px;
    padding: 20px;
}
.sign-up {
    display: none;
}
.log-in {
    display: none;
}
.content {
    color: white;
}
#list {
    color: white;
}

#second {
    display: none;  
}

#shoes-create {
    display: none;
}
#shoes-show {
    display: none;
}
#shoes-all {
    display: none;
}
#shoes-remove {
    display: none;
}
#shoes-edit {
    display: none;
}