@import '~bootstrap/scss/bootstrap';
html {
    background-color: black;
    color: white;
}

head {
    background-color: black;
    color: white;
}
body {
    background-color: black;
    color: white;
}

h2 {
    padding-bottom: 50px;
}
p {
    color: white;
}

.jumbotron {
    background-color: rgb(188, 3, 43);
}

// .btn-space .btn-group-lg {
//     margin-right: 50px;
// }

.page-header {
    text-align: center;
    margin: 10px;
    padding: 20px;
}
.sign-up {
    display: none;
}
.log-in {
    display: none;
}

#second {
    background-color: rgb(102,153,194)   
}

#shoes-create {
    display: none;
}
#shoes-show {
    display: none;
}
#shoes-all {
    display: none;
}
#shoes-remove {
    display: none;
}
#shoes-edit {
    display: none;
}
// #shoes- {

// }