@import '~bootstrap/scss/bootstrap';
html {
  color: white;
}

head {
  color: white;
}
body {
  color: white;
  background: url('public/bw2.png');
  background-position: fixed;
  background-attachment: scroll;
}

h2 {
  padding-bottom: 50px;
}
p {
  color: #000;
}

.jumbotron {
  background-color: #c6c8ca;
  opacity: 0.8;
}

.reset {
  display: none;
}

.form-control {
  margin: 20px;
}

.page-header {
  text-align: center;
  margin: 10px;
  padding: 20px;
}
.sign-up {
  display: none;
}
.log-in {
  display: none;
}
.content {
  color: white;
}
#list {
  color: white;
}

#create {
  height: 50px;
  width: 100px;
}

.btn-space .btn-group-lg {
  padding: 5px;
}

#settingsPage,
#second,
#shoes-edit,
#shoes-remove,
#shoes-all,
#shoes-show,
#shoes-create {
  display: none;
}
